@{
    ViewData["Title"] = "Home Page";
}

<!-- Home Background -->
<div class="bilgins-home-background bilgins-page-background is-video">
    <video src="video/home-bg.mp4" poster="img/bgs/bg-home01.png" muted autoplay loop></video>
</div>

<!-- Home Links and Titles -->
<div class="bilgins-home-link--works bilgins-home-link-wrap">
    <div class="bilgins-home-link is-link">
        <span>Bilgin's</span>
        <span>KOLEKSİYONLARIMIZ</span>
    </div>
</div>
<!-- .bilgins-home-link-wrap -->
<div class="bilgins-home-link--contacts bilgins-home-link-wrap">
    <div class="bilgins-home-link is-link">
        <span>İLETİŞİM BİLGİLERİMİZ</span>
        <span>BİZE ULAŞIN</span>
    </div>
</div>
<!-- .bilgins-home-link-wrap -->
<!-- Home Title and Back Button -->
<div class="bilgins-page-title-wrap is-inactive ">
    <h1 class="bilgins-page-title">&nbsp;</h1>
</div>
<!-- .bilgins-page-title-wrap -->

<div class="bilgins-home-return bilgins-back-wrap is-inactive">
    <div class="bilgins-back is-home-return">
        <span>GERİ</span>
        <span>DÖN</span>
    </div>
</div>
<!-- .bilgins-to-top-wrap -->
<!-- Home Contacts Block -->

<!-- #bilgins-home-contacts -->
<!-- Home Works Block -->
