
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>İletişim | Bilgin's</title>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat%3A500%2C700%7CRoboto+Condensed:700%7CRoboto%3A700&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/css/line-awesome.css">
    <link type="text/css" rel="stylesheet" href="~/css/style.css">
    <link type="text/css" rel="stylesheet" href="~/css/responsive.css">

    <!-- Icon -->
    <link rel="icon" href="~/img/favicon.png" sizes="32x32" />
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MB9FQS3');
    </script>
    <!-- End Google Tag Manager -->
</head>

<body class="has-spotlight bilgins-smooth-scroll">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MB9FQS3"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Header -->
    <header id="bilgins-header">
        <div class="bilgins-header-inner">
            <div class="bilgins-logo-block">
                <a asp-controller="Home" asp-action="Index" class="bilgins-logo is-retina">
                    <img src="~/img/logo.png" alt="Bilgins Logo" width="417" height="100">
                </a>
            </div>
            <div class="bilgins-nav-block">
                <nav class="bilgins-nav">
                    <ul class="main-menu">
                        <li><a asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                        <li><a asp-controller="About" asp-action="Index">Hakkımızda</a></li>
                     
                        <li class="menu-item-has-children">
                            <a href="#">Koleksiyonlar</a>
                            <ul class="sub-menu">
                                <li><a asp-controller="WomanCollection" asp-action="Index">Kadın Koleksiyonu</a></li>
                                <li><a asp-controller="ManCollection" asp-action="Index">Erkek Koleksiyonu</a></li>
                            </ul>
                        </li>
                        <li><a asp-controller="Stores" asp-action="Index">Mağazalar</a></li>
                     
                        <li><a asp-controller="Contact" asp-action="Index">İletişim</a></li>
                        <li>
                            <a href="#" class="bilgins-aside-toggler">
                                <span class="bilgins-aside-toggler__icon01"></span>
                                <span class="bilgins-aside-toggler__icon02"></span>
                                <span class="bilgins-aside-toggler__icon03"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- Content -->
    <div class="bilgins-page-title-wrap">
        <h1 class="bilgins-page-title">
            <span>Soru ve önerilerinizi</span> Bize yazın
        </h1>
    </div>

    <main class="bilgins-content-wrap">
        <div class="bilgins-content-scroll">
            <div class="bilgins-content">
                <section class="bilgins-section">
                    <div class="bilgins-row">
                        <div class="bilgins-col col-12">
                            <p class="bilgins-intro">Her türlü soru ve sorunlarınızı cevaplamak için sabırsızlanıyoruz. Lütfen aşağıdaki formu çekinmeden doldurup bize gönderin.</p>
                        </div>
                    </div>
                </section>
                <div class="bilgins-row">
                    <div class="bilgins-col col-4">
                        <div class="bilgins-contact-details">
                            <h4 class="bilgins-contact-details__title">
                                <span>MERKEZ Ofis VE SOSYAL MEDYA</span> İLETİŞİM BİLGİLERİMİZ
                            </h4>
                            <ul class="bilgins-contact-details__list">
                                <li>
                                    <i class="bilgins-contact-icon la la-map-marker"></i> Kazlıçeşme Mh. Hacı Reşit Bey Sk. No:5 Zeytinburnu İstanbul
                                </li>
                                <li>
                                    <i class="bilgins-contact-icon la la-phone"></i>
                                    <a href="tel:+902125586070">+90 212 558 6070</a>
                                </li>
                                <li>
                                    <i class="bilgins-contact-icon la la-envelope"></i>
                                    <a href="mailto:info@bilgins.com.tr">info@bilgins.com.tr</a>
                                </li>
                                <li class="bilgins-contact-socials">
                                    <i class="bilgins-contact-icon la la-share-alt"></i>
                                    <a href="https://www.facebook.com/bilginsleather/" target="_blank">Fb</a>
                                    <a href="https://www.instagram.com/bilginsluxury/" target="_blank">In</a>
                                    <a href="https://vk.com/bilginsleather" target="_blank">Vk</a>
                                </li>
                            </ul>
                        </div>
                        <!-- .bilgins-contact-details -->
                    </div>
                    <div class="bilgins-col col-8">
                        <form action="mail.php" method="post" class="bilgins-contact-form">
                            <div class="bilgins-row bilgins-small-gap">
                                <div class="bilgins-col col-4">
                                    <input type="text" id="name" name="name" placeholder="Adınız" required>
                                </div>
                                <div class="bilgins-col col-4">
                                    <input type="email" id="email" name="email" placeholder="E-Postanız" required>
                                </div>
                                <div class="bilgins-col col-4">
                                    <input type="tel" id="phone" name="phone" placeholder="Telefonunuz" required>
                                </div>
                            </div>
                            <textarea name="message" id="message" placeholder="Mesajınız" required></textarea>
                            <div class="bilgins-contact-form__footer">
                                <div class="bilgins-contact-form__response"></div>
                                <div class="bilgins-contact-form__submit">
                                    <input type="submit" value="Gönder">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- .bilgins-content -->
            <!-- Footer -->
            <footer id="bilgins-footer">
                <div class="bilgins-footer-inner">
                    <div class="bilgins-footer__socials">
                        <ul class="bilgins-socials">
                            <li><a href="https://www.facebook.com/bilginsleather/">Fb</a></li>
                            <li><a href="https://www.instagram.com/bilginsluxury/">In</a></li>
                            <li><a href="https://vk.com/bilginsleather">Vk</a></li>
                        </ul>
                    </div>
                    <div class="bilgins-footer__copyright">
                        Bilgin's &copy; 2020. Tescilli Markadır.
                    </div>
                </div>
                <script src="//code.jivosite.com/widget/KvUvPH327h" async></script>
            </footer>
        </div>
        <!-- .bilgins-content-scroll -->
    </main>

    <div class="bilgins-to-top-wrap bilgins-back-wrap">
        <div class="bilgins-back is-to-top">
            <span>Geri Dön</span>
            <span>Yukarı</span>
        </div>
    </div>

    <!-- Aside Bar -->
    <aside id="bilgins-aside">
        <a href="#" class="bilgins-aside-close">Kapat</a>
        <div class="bilgins-aside-inner">
            <div class="bilgins-aside-content">
                <div class="bilgins-widget bilgins-widget--about">
                    <div class="bilgins-widget--about__head">
                        <img src="~/img/general/owner-avatar.png" alt="Andrew Shade">
                        <h5>
                            <span>Since 1988</span> Bilgin's
                        </h5>
                    </div>
                    <p>
                        1988 yılından bu yana Türkiye başta olmak üzere dünyadaki birçok ünlü markanın kürk, deri ve tekstil ürünlerinin üretimini gerçekleştiren Bilgin's Luxury, şimdi de kendi markası ile ürünlerini Rusya, Ukrayna, ABD, İngiltere, Güney
                        Kore ve Arap coğrafyasındaki geniş bir hedef kitleye sunmaktadır.
                    </p>
                    <p class="align-right">
                        <a href="hakkimizda.html" class="bilgins-learn-more">Daha fazla bilgi</a>
                    </p>
                </div>
                <!-- .bilgins-widget -->

                <div class="bilgins-widget bilgins-widget--contacts">
                    <h5 class="bilgins-widget-title">
                        <span>Sosyal Medya ve</span> İletişim Bilgilerimiz
                    </h5>
                    <ul class="bilgins-contact-details__list">
                        <li>
                            <i class="bilgins-contact-icon la la-map-marker"></i> Kazlıçeşme Mh. Hacı Reşit Bey Sk. Zeytinburnu İstanbul
                        </li>
                        <li>
                            <i class="bilgins-contact-icon la la-phone"></i>
                            <a href="tel:+902125586070">+90 212 558 6070</a>
                        </li>
                        <li>
                            <i class="bilgins-contact-icon la la-envelope"></i>
                            <a href="mailto:info@bilgins.com.tr">info@bilgins.com.tr</a>
                        </li>
                        <li class="bilgins-contact-socials">
                            <i class="bilgins-contact-icon la la-share-alt"></i>
                            <a href="https://www.facebook.com/bilginsleather/" target="_blank">Fb</a>
                            <a href="https://www.instagram.com/bilginsluxury/" target="_blank">In</a>
                            <a href="https://vk.com/bilginsleather" target="_blank">Vk</a>
                        </li>
                    </ul>
                    <p class="align-right">
                        <a asp-controller="Contact" asp-action="Index" class="bilgins-learn-more">İletşim Formu</a>
                    </p>
                </div>
                <!-- .bilgins-widget -->

            </div>
            <!-- .bilgins-aside-content -->
        </div>
        <!-- .bilgins-aside-inner -->
    </aside>

    <!-- UI Elements -->
    <div class="bilgins-menu-overlay"></div>
    <div class="bilgins-aside-overlay"></div>
    <div class="bilgins-cursor is-inactive">
        <span class="bilgins-cursor-circle"></span>
        <span class="bilgins-cursor-slider"></span>
        <span class="bilgins-cursor-close bilgins-cursor-label">Kapat</span>
        <span class="bilgins-cursor-zoom bilgins-cursor-label">Yaklaş</span>
    </div>

    <!-- SCRIPTS -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/gsap.min.js"></script>
    <script src="~/js/core.js"></script>
</body>

</html>




