
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content -->
<div class="bilgins-page-title-wrap">
    <h1 class="bilgins-page-title">
        <span>BİLGİN'S</span> KADIN Koleksiyonu
    </h1>
</div>

<div class="bilgins-albums-slider-wrap">
    <div class="bilgins-albums-slider is-parallax" id="albums_slider">
        <div class="bilgins-album-item">
            <img class="bilgins-album-item__image" src="~/img/gallery/slider/01.png">

            @*<div class="bilgins-album-item__image" data-src="~/img/gallery/slider/01.png"></div>*@
            <div class="bilgins-album-item_overlay"></div>
        </div>
        <!-- .bilgins-album-item -->
        <div class="bilgins-album-item">
            <img class="bilgins-album-item__image" src="~/img/gallery/slider/02.png">
            <div class="bilgins-album-item__overlay"></div>
        </div>
        <!-- .bilgins-album-item -->
        <div class="bilgins-album-item">
            <img class="bilgins-album-item__image" src="~/img/gallery/slider/03.png">

            @*<div class="bilgins-album-item__image" data-src="~/img/gallery/slider/03.png"></div>*@
            <div class="bilgins-album-item__overlay"></div>
        </div>
        <!-- .bilgins-album-item -->
        <div class="bilgins-album-item">
            <div class="bilgins-album-item__image" data-src="~/img/gallery/slider/04.png"></div>
            <div class="bilgins-album-item__overlay"></div>
        </div>
        <!-- .bilgins-album-item -->
        <div class="bilgins-album-item">
            <div class="bilgins-album-item__image" data-src="~/img/gallery/slider/05.png"></div>
            <div class="bilgins-album-item__overlay"></div>
        </div>
        <!-- .bilgins-album-item -->
        <div class="bilgins-album-item">
            <div class="bilgins-album-item__image" data-src="~/img/gallery/slider/06.png"></div>
            <div class="bilgins-album-item__overlay"></div>
        </div>
        <!-- .bilgins-album-item -->
    </div>
    <!-- .bilgins-albums-slider -->
    <a href="#" class="bilgins-slider-prev">geri</a>
    <a href="#" class="bilgins-slider-next">ileri</a>
</div>
<!-- .bilgins-albums-slider-wrap -->
